In [1]:
import pandas as pd
import os
import datetime

# 여러 파일 열고 합치기.... 폴더 안에 있는 파일 합치기

In [2]:
path = 'data/2020.08.13/'
lists = os.listdir(path)

In [3]:
result = pd.DataFrame()

In [4]:
result

Empty DataFrame
Columns: []
Index: []

In [5]:
lists[0][0:10]

'2020.08.13'

In [6]:
x = path.split('/')
filename = lists[0][0:10]
year,month,day = (int(x) for x in filename.split('.'))    
day = datetime.date(year, month, day).weekday()

In [7]:
for i in lists:
    df = pd.read_csv(path+i, header=None)
    df['Date'] = "202000813"
    df['Day'] = day
    df['Time']  = i[11:15]
    result = pd.concat([result, df])

In [8]:
result.rename(columns={0:'Link_id', 1:'Speed_car', 2:'Time_car'}, inplace=True)

In [9]:
result

          Link_id  Speed_car  Time_car       Date  Day  Time
0      1000000301         33        17  202000813    3  0000
1      1000000302         23        17  202000813    3  0000
2      1000000303         15        17  202000813    3  0000
3      1000000401         28        19  202000813    3  0000
4      1000000402         20        19  202000813    3  0000
...           ...        ...       ...        ...  ...   ...
35497  2810052200         18       100  202000813    3  1640
35498  2850054405        402        98  202000813    3  1640
35499  2850054501        463        47  202000813    3  1640
35500  3000039201        435        77  202000813    3  1640
35501  3000039301        341        99  202000813    3  1640

[2515316 rows x 6 columns]

In [10]:
# 정렬
result.sort_values(by='Time', inplace = True)

In [11]:
result.reset_index(drop=True, inplace=True)

In [12]:
result

            Link_id  Speed_car  Time_car       Date  Day  Time
0        1000000301         33        17  202000813    3  0000
1        2160063400         16        40  202000813    3  0000
2        2160063300         57        11  202000813    3  0000
3        2160063200         26        24  202000813    3  0000
4        2160063100         42        21  202000813    3  0000
...             ...        ...       ...        ...  ...   ...
2515311  1640027900         15        24  202000813    3  1640
2515312  1640028000         16        16  202000813    3  1640
2515313  1640028100         14        17  202000813    3  1640
2515314  1640027500         27        15  202000813    3  1640
2515315  3000039301        341        99  202000813    3  1640

[2515316 rows x 6 columns]

In [13]:
# 파일 저장
result.to_csv('202000813.csv', index=False)